@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.notif-bar {
  background-color: #860c00;
  width: 100%;
}

.notif-bar div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.notif-bar div span {
  color: #fff;
  font-size: 14px;
  padding: 0 14px;
}

.nav-container {
  width: 100%;
  background-color: #b91000;
}

nav {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px 14px 0px 14px;
  color: #fff;
  box-sizing: border-box;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-top span {
  font-size: 32px;
  font-weight: 700;
}

.nav-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-top-right span {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-top-right span:not(:first-of-type):before {
  content: " | ";
}

.nav-top-right .buttons i {
  font-size: 20px;
  margin: 14px;
}

nav img {
  height: 80px;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0px 20px 0px;
  font-weight: 700;
}

.main {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 60px 14px;
  box-sizing: border-box;
}

.progress {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 50px;
}

.progress .line {
  position: absolute;
  left: 0;
  right: 0;
  top: 16.5px;
  height: 3px;
  background-color: #ba1100;
  z-index: -1;
}

.progress-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
}

.progress-item:last-of-type {
  background-color: #fff;
}

.progress-item span {
  font-size: 18px;
  font-weight: 400;
  margin-top: 25px;
}

.dot {
  width: 33px;
  height: 33px;
  background-color: #ba1100;
  border-radius: 100%;
  border: 3px solid #ba1100;
}

.dot-empty {
  background-color: #fff;
}

h2 {
  color: #ba1100;
  font-size: 36px;
  margin: 0px 0px 10px 0px;
  padding: 0;
}

p {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.section-title {
  width: 100%;
  border-bottom: 1px solid #545454;
  padding-bottom: 25px;
  margin-bottom: 60px;
}

.giving-total {
  padding: 25px 0px;
  display: flex;
  font-size: 36px;
  line-height: 28px;
}

.total {
  padding: 0px 10px;
  font-weight: 700;
}

h3 {
  margin: 50px 0px 0px 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.amount-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-top: 35px;
}

.amount-item {
  border: 1px solid #afafaf;
  border-radius: 10px;
  padding: 50px 20px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #545454;
  font-weight: 400;
  cursor: pointer;
}

.amount-item:last-of-type {
  font-size: 28px;
}

.amount-item:hover {
  border: 1px solid #ba1100;
}

.amount-item-active {
  background: #ffeded;
  border: 1px solid #ba1100;
}

.how-much {
  margin-bottom: 50px;
}

.how-much-active {
  display: grid !important;
}

.toggle {
  padding: 20px 25px;
  border: 1px solid #afafaf;
  border-radius: 10px;
  margin-top: 25px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  align-items: center;
  color: #545454;
  font-size: 24px;
  cursor: pointer;
}

.toggle:hover {
  border: 1px solid #ba1100;
}

.toggle-active {
  background: #ffeded;
  border: 1px solid #ba1100;
}

.toggle .checkbox {
  width: 34px;
  height: 34px;
  border: 1px solid #afafaf;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
}

.toggle .checkbox i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  display: none;
}

.toggle-active .checkbox i {
  display: block;
}
.toggle-active .checkbox {
  border: 1px solid #ba1100;
}

.memory-honor-active ~ .who-for {
  display: grid;
}

.input-group {
  display: none;
  grid-auto-flow: row;
  gap: 18px;
  margin-top: 25px;
}

.input-group span {
  font-size: 24px;
}

/* .input-group input {
  outline: none;
  border: 1px solid #afafaf;
  border-radius: 10px;
  padding: 20px 25px;
  font-size: 24px;
  font-weight: 400;
  color: #545454;
} */

input {
  outline: none;
  border: none;
  padding: 0px 0px;
  font-size: 24px;
  font-weight: 400;
  color: #545454;
  width: 500px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-field {
  outline: none;
  border: 1px solid #afafaf;
  border-radius: 10px;
  padding: 20px 25px;
  font-size: 24px;
  font-weight: 400;
  color: #545454;
}

.input-group input::placeholder {
  font-weight: 300;
  opacity: 0.5;
  color: #545454;
}

.filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 30px;
}

.filters div {
  padding: 20px 25px;
  border: 1px solid #afafaf;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters div {
  font-size: 24px;
  color: #545454;
  display: flex;
  position: relative;
  cursor: pointer;
}

.filters .filter-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 10px;
  border: 1px solid #afafaf;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  align-content: stretch;
  grid-auto-flow: row;
  gap: 15px;
  display: none;
}

.filter-dropdown-active {
  display: grid !important;
}

.filters .filter-dropdown div:hover {
  border: 1px solid #ba1100;
  cursor: pointer;
}

.allocation-item {
  display: grid;
  grid-template-columns: 30% 1fr;
  padding: 20px;
  border: 1px solid #ba1100;
  border-radius: 10px;
  gap: 20px;
  place-items: start;
  background-color: #fff;
}

.allocation-item:not(:first-of-type) {
  margin-top: 25px;
}

.allocation-item .allocation-image {
  width: 100%;
  padding-top: 87%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.allocation-text {
  font-size: 21px;
  color: #545454;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.allocation-text strong {
  font-size: 24px;
  width: 100%;
}

.gift-btn {
  padding: 24px 76px;
  color: #fff;
  background-color: #ba1100;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 20px;
  display: inline-block;
  cursor: pointer;
}

.gift-btn:hover {
  background-color: #830b00;
}

.gift-btn-active {
  background-color: #830b00;
  border: 3px solid black;
  padding: 21px 73px;
}

.alt-amount-gift {
  display: flex !important;
}

.alt-amount-gift > span {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.alt-amount-gift > .input-field {
  margin-top: 20px;
  padding-left: 15px;
}

.alt-amount-gift > .input-field > input {
  width: 178px;
}

.alt-amount-gift > .input-field > ::-webkit-input-placeholder {
  text-align: center;
}

.alt-amount-gift > .input-field > :-ms-input-placeholder {
  text-align: center;
}

.frequency .amount-item {
  font-size: 24px !important;
  padding: 25px 20px !important;
}

textarea {
  width: 100%;
  padding: 20px 25px;
  border-radius: 10px;
  border: 1px solid #afafaf;
  margin-top: 15px;
  font-size: 24px;
  font-weight: 300;
  color: #545454;
  box-sizing: border-box;
}

textarea::placeholder {
  font-weight: 300;
  color: #545454;
  opacity: 0.5;
}

.footer-container {
  width: 100%;
  background-color: #272322;
  box-sizing: border-box;
}

footer {
  width: 100%;
  max-width: 1170;
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px 14px;
  display: grid;
  grid-template-columns: auto 1fr;
  color: #fff;
  gap: 48px;
  box-sizing: border-box;
}

footer img {
  height: 64px;
}

footer h3 {
  margin: 0;
  font-size: 16px;
}

footer p {
  font-size: 16px;
}

footer .buttons i {
  font-size: 20px;
  margin: 14px 28px 14px 0px;
}

/* loader */
.spinneroverlay.donatespinner {
  display: block;
}

.spinneroverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.97);
  font: normal 24px arial, sans-serif;
  font-family: "pp-sans-small-light", Helvetica Neue, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.loadingcontent {
  margin-top: 100px;
  width: 100%;
}

.spinner {
  height: 60px;
  width: 60px;
  margin: 94px auto 0;
  position: relative;
  animation: rotation 0.6s infinite linear;
  border-left: 6px solid rgba(0, 0, 0, 0.15);
  border-right: 6px solid rgba(0, 0, 0, 0.15);
  border-bottom: 6px solid rgba(0, 0, 0, 0.15);
  border-top: 6px solid #000;
  border-radius: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
